h1,
h2,
h3,
h4,
h5,
h6 {
  display: inline-block;
  font-family: $font__heading;
  font-weight: $font__weight-heading;
  line-height: $font__line-height-heading;
  clear: both;
}

h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.heading-primary {
  font-size: $font__size-heading-big;
}

.heading-secondary {
  margin: 0;
  font-size: $font__size-heading-medium;
}

.week-menu__day {
  font-family: $font__heading;
  font-weight: $font__weight-heading;
  font-size: 2rem;
}
