body,
button,
input,
select,
optgroup,
textarea {
  color: $color__text-main;
  font-family: $font__main;
  font-size: 1.8rem;
  line-height: $font__line-height-body;
}

.highlighted {
  background: -webkit-linear-gradient(
    linear,
    left top,
    left bottom,
    color-stop(50%, rgba(255, 255, 255, 0)),
    color-stop(50%, rgba($color__dark__green, 0.3))
  );
  background: -moz-linear-gradient(
    linear,
    left top,
    left bottom,
    color-stop(50%, rgba(255, 255, 255, 0)),
    color-stop(50%, rgba($color__dark__green, 0.3))
  );
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 50%,
    rgba($color__dark__green, 0.3) 50%
  );
}

@import "headings";
@import "copy";
