body {
  background: $color__background-body-content; // Fallback for when there is no custom background color defined.
}

html {
  // This defines what 1rem is
  font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%
}

// Sticky footer
.site {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
