button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 3px solid;
	border-color: transparent;
	border-radius: 3px;
	background: $color__background-button;
	color: $color__text-button;
	line-height: 1;
	padding: 0.6em 1em;
	cursor: pointer;
	transition: all 0.375s ease-in-out;

	&:hover {
		transform: translateY(-3px);
		background: $color__brown;
	}

	&:active,
	&:focus {
		background: $color__brown;
	}
}
