hr {
  width: 40%;
  max-width: 350px;
  height: 5px;
  margin: $spacing__m auto;
  background-color: $color__grayish__green;
  border-radius: $border-radius__default;
  opacity: 0.2;

  &:last-child {
    display: none;
  }

  @include respond(desktop) {
    margin: $spacing__l auto;
  }
}
