// Center block
@mixin center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

// Column width with margin
@mixin column-width($numberColumns: 3) {
  width: map-get($columns, $numberColumns) -
    (($columns__margin * ($numberColumns - 1)) / $numberColumns);
}

// DD Center block
@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// DD Box shadows
@mixin boxShadow1 {
  box-shadow: 0 0.9rem 1.1rem -0.6rem rgba(0, 0, 0, 0.5);
}

// DD Containers sizes
@mixin containerDefault {
  width: 90%;
  margin: 0 auto;
}

// DD Remove list style
@mixin removeListStyle {
  list-style: none;
  margin: 0;
}

// DD Bottom gradient
@mixin bottomGradient {
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgb(2, 0, 36);
    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.8) 10%,
      rgba(0, 212, 255, 0) 70%
    );
  }
}
