.sticky {
	display: block;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

@include respond(tab-port) {
	.entry-content {
		max-width: 90%;
	}
}


.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

// Digital Delicious
article {
	&.page,
	&.post {
		@include containerDefault;
		margin-top: $spacing__l;
		margin-bottom: $spacing__m;
	}
}

.post-thumbnail {
	margin-bottom: $spacing__m;
}

.cat-links,
.edit-link {
	display: block;
}

