.card-dish {
  line-height: 1;

  &__img {
    width: 100%;
    max-width: 263px;
    margin-bottom: $spacing__s;
    border-radius: 5px;
    @include boxShadow1;
  }

  &__name {
    font-size: $font__size-heading-medium;
    margin-bottom: calc(#{$spacing__xs} / 2);
  }

  &__price {
    font-weight: 400;
    margin-bottom: $spacing__xs;
  }

  &__price,
  &__desc {
    font-size: 1.8rem;
  }
}
