.card-dish {
  line-height: 1;
  padding-bottom: $spacing__s;
  // placement in _day-grid
  justify-self: center;

  &:not(:last-child) {
    margin-bottom: $spacing__m;
  }

  &__img-container {
    position: relative;
    width: 100%;
    max-width: 400px;
    overflow: hidden;
    border-radius: $border-radius__default;
    transition: all 0.2s ease-in-out;
    @include boxShadow2;

    &:hover {
      box-shadow: none;
      .card-dish__img {
        transform: scale(1.05);
      }
      &::after {
        opacity: 0.5;
      }
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      box-shadow: inset 0px 0px 5rem 1rem rgba(0, 0, 0, 0.7);
      transition: opacity 0.2s ease-in-out;
    }
  }

  &__img {
    width: 100%;
    max-width: 400px;

    transition: transform 0.2s ease-in-out;
  }

  &__name {
    font-size: $font__size-heading-medium;
    margin-top: $spacing__s;
    margin-bottom: 0.2rem;
  }

  &__price {
    font-weight: $font__weight-regular;
    margin-bottom: 1rem;
  }

  &__price,
  &__desc {
    font-size: 1.8rem;
  }

  &__desc {
    margin-bottom: 0;
    line-height: $font__line-height-body;
  }
}
