.delivery-conditions {
  background-color: #fff;
  padding: $spacing__m 0 $spacing__l;
  line-height: 1;

  &__item {
    margin-bottom: $spacing__l;

    &-title {
      margin-bottom: $spacing__xs;
      font-weight: 600;
    }

    &-details {
      @include removeListStyle;
      font-weight: $font__weight-body;
      li:not(:last-child) {
        margin-bottom: $spacing__xs;
      }
    }
  }

  &__notice {
    max-width: 90%;
    margin: $spacing__xs auto $spacing__l;
    /* color: $color__dark__green; */
    font-family: $font__heading;
    font-weight: 600;
    font-size: $font__size-heading-medium;
    letter-spacing: 0.5px;
  }
}

.order-details {
  max-width: 90%;
  min-height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 0 auto;
  border-radius: $border-radius__default;
  padding: $spacing__m $spacing__s 4rem;
  background-image: linear-gradient(
      to right bottom,
      rgba($color__dark__green, 0.8),
      rgba($color__grayish__green, 0.8)
    ),
    url(./images/illustration-bk.jpg);
  background-size: cover;
  background-position: center;
  color: $color__background-body;

  &__title {
    font-family: $font__heading;
    font-weight: 600;
    font-size: 12vw;
  }

  &__hr {
    background-color: #fff;
    opacity: 0.5;
    margin: 0 auto;
  }

  &__contact {
    @include removeListStyle;
    padding-top: $spacing__l;
    font-size: 3.5rem;

    li:not(:last-child) {
      margin-bottom: $spacing__s;
    }

    a:visited {
      color: #02e297;
    }
  }
}
