.heading-block {
  position: relative;

  &__title {
    margin-bottom: 0;
    line-height: 1;
  }

  &__subtitle {
    font-size: 2rem;
    margin-top: $spacing__xs;
    margin-bottom: 0;
  }

  &__separator {
    display: block;
    margin: $spacing__m auto 0;
    height: 3px;
    width: 20rem;
    background-color: $color__orange;
    border-radius: $border-radius__default;
  }
}
