.site-header {
  position: relative;
}

/**
 * #.# Header banner
 *
 * Contains only phone number and social media icons
 */

.dd-header-banner {
  width: 100%;
  min-height: 5.6rem;
  display: flex;
  align-items: center;
  background-color: $color__dark__green;

  &__container {
    @include containerDefault;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  /* left side of the header banner */

  &__contact {
    border: 0.5px solid white;
    border-radius: 1em;
    padding: 0.5rem 2rem;
    display: flex;
    align-items: center;
    line-height: 1;
    cursor: pointer;
    transition: all 0.375s ease-in;

    &:hover {
      background: black;
      border: transparent;
    }

    &-phone {
      display: block;
      margin-right: calc(#{$spacing__xs / 2});
      svg {
        height: 2rem;
        width: 2rem;
        path {
          fill: $color__background-body;
        }
      }
    }

    &-link {
      display: inline-block;
      font-size: 2.2rem;
      font-weight: $font__weight-semibold;

      &,
      &:link {
        color: $color__background-body;
      }

      &:visited {
        color: black;
      }

      &:focus,
      &:active {
        color: $color__link-visited-light;
      }
    }
  }

  /* right side of the header banner */
  &__social {
    display: inline-block;
    line-height: 1;

    svg {
      height: 3.2rem;
      width: 3.2rem;
      path {
        fill: $color__background-body;
        transition: all 0.2s ease-in;
      }
    }

    &:hover {
      svg {
        path {
          fill: black;
        }
      }
    }
  }
}

/**
 * #.# Header navigation
 *
 * Contains the logo and the navigation
 */

.dd-header-nav {
  @include containerDefault;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 0;

  @include respond(tab-port) {
    padding: 1rem 0;
  }

  &__logo {
    .site-title {
      margin-bottom: 0;
      min-width: 200px;
      > a {
        display: flex;
        align-items: flex-end;
      }
    }
  }
}

.dd-site-title {
  &__logo {
    display: block;
    width: 100%;
    max-width: 7rem;
    height: auto;
  }
  &__name {
    display: block;
    font-family: $font__heading;
    font-size: 2.7rem;
    font-weight: $font__weight-semibold;
    color: rgb(116, 50, 0);
    letter-spacing: -1.5px;
  }
}
