.site-header {
  position: relative;
}

/**
 * #.# Header banner
 *
 * Contains only phone number and social media icons
 */

.dd-header-banner {
  width: 100%;
  min-height: 5.6rem;
  display: flex;
  align-items: center;
  background-color: $color__dark__green;

  &__container {
    @include containerDefault;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  /* left side of the header banner */
  &__contact {
    display: flex;
    line-height: 1;

    &-icon {
      display: block;
      margin-right: calc(#{$spacing__xs / 2});
      svg {
        height: 2rem;
        width: 2rem;
        path {
          fill: $color__background-body;
        }
      }

      &:hover {
        svg {
          path {
            fill: #ddecdb;
          }
        }
      }
    }

    &-link {
      display: inline-block;
      font-size: 2.2rem;
      font-weight: $font__weight-semibold;

      &,
      &:link {
        color: $color__background-body;
      }

      &:visited {
        color: black;
      }

      &:focus,
      &:hover,
      &:active {
        color: #ddecdb;
      }
    }
  }

  /* right side of the header banner */
  &__social {
    display: inline-block;
    line-height: 1;

    svg {
      height: 2.5rem;
      width: 2.5rem;
      path {
        fill: $color__background-body;
      }
    }

    :hover {
      svg {
        path {
          fill: #ddecdb;
        }
      }
    }
  }
}

/**
 * #.# Header navigation
 *
 * Contains the logo and the navigation
 */

.dd-header-nav {
  @include containerDefault;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $spacing__xs 0;

  &__logo {
    .site-title {
      margin-bottom: 0;
    }
  }
}
