.heading-block {
  position: relative;
  margin-bottom: $spacing__l;

  &__title {
    margin-bottom: calc(#{$spacing__xs} / 2);
  }

  &__subtitle {
    margin-bottom: $spacing__s;
  }

  &__separator {
    display: block;
    margin: 0 auto;
    height: 3px;
    width: 12.5rem;
    background-color: $color__orange;
  }
}
