.heading-block {
  position: relative;
  margin-bottom: $spacing__l;

  @include respond(tab-land) {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  @include respond(desktop) {
    margin-bottom: $spacing__xxl;
  }

  &__title {
    margin-bottom: 0;
    line-height: 1;
  }

  &__subtitle {
    margin-top: $spacing__xs;
    margin-bottom: 0;
    font-size: 2rem;
    line-height: 1.2;

    @include respond(desktop) {
      font-size: 2.4rem;
    }
  }

  &__separator {
    display: block;
    height: 3px;
    width: 20rem;
    margin: $spacing__m auto 0;
    background-color: $color__orange;
    border-radius: $border-radius__default;
  }
}

// A la carte section needs a smaller margin-bottom because of more white-space in the layout of the section
.section-alacarte {
  .heading-block {
    @include respond(desktop) {
      margin-bottom: 5rem;
    }
  }
}
