.hero-banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
  margin-bottom: $spacing__xl;
  background-image: url(./images/hero_img-tab@2x.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  color: #ececec;
  border-bottom: 10px solid $color__dark__blue;

  @include respond(desktop) {
    height: 85vh;
    background-image: url(./images/hero_img-desktop@2x.jpg);
    margin-bottom: $spacing__xxl;
  }

  &__title {
    max-width: 80%;
    margin-bottom: $spacing__s;
    font-size: 6rem;
    font-weight: $font__weight-regular;
    letter-spacing: 1px;

    @include respond(desktop) {
      font-size: 7rem;
    }
  }

  &__subtitle {
    max-width: 80%;
    margin-bottom: 0;
    font-size: 2.2rem;
    text-transform: uppercase;
    font-weight: $font__weight-light;
    letter-spacing: 2px;

    @include respond(desktop) {
      font-size: 3rem;
    }
  }
}
