.hero-banner {
  position: relative;
  min-height: 500px;
  height: 70vh;
  max-width: 100%;
  margin: 0 auto $spacing__xl;
  background-image: url(./images/hero_img-brown-mob@2x.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-bottom: 10px solid #341005;

  @include respond(tab-port) {
    background-image: url(./images/hero_img-brown-tab@2x.jpg);
  }

  @include respond(desktop) {
    height: 85vh;
    background-image: url(./images/hero_img-brown-desktop@2x.jpg);
    margin-bottom: $spacing__xxl;
  }

  &__text-wrapper {
    @include absCenter;
    width: 100%;
    background-color: #0000008a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ececec;
    padding: 7rem 1rem;

    @include respond(tab-port) {
      @include containerDefault;
    }

    @include respond(desktop) { 
      padding: 11rem 2rem;
    }
    
  }

  &__title {
    max-width: 95%;
    margin-bottom: $spacing__s;
    font-size: 6rem;
    font-weight: $font__weight-regular;
    letter-spacing: 1px;
    line-height: 1.2;

    @include respond(desktop) {
      font-size: 7rem;
      max-width: 70%;
    }

    @include respond(big-desk) {
      max-width: 50%;
    }
  }

  &__subtitle {
    max-width: 90%;
    margin-bottom: 0;
    font-size: 2.2rem;
    text-transform: uppercase;
    font-weight: $font__weight-light;
    letter-spacing: 2px;

    @include respond(desktop) {
      font-size: 3rem;
    }
  }
}
