.order {
  &__desc {
    @include containerDefault;
    margin-bottom: $spacing__xxl;

    @include respond(tab-land) {
      width: 50%;
      margin-bottom: 0;
      padding: 0 $spacing__s;
    }
  }

  &__img {
    @include respond(tab-land) {
      width: 50%;
    }
  }

  &__title {
    @include respond(desktop) {
      font-size: 45px; // if calc() not supported
      font-size: calc(#{$font__size-heading-big} * 1.2);
    }
  }

  &__subtitle {
    margin-top: 0.5rem;
    margin-bottom: $spacing__m;

    @include respond(desktop) {
      margin-bottom: $spacing__xl;
    }
  }

  &__subtitle span {
    display: inline-block;
  }

  &__contact {
    margin: 0;
    font-family: $font__heading;
    font-size: 3rem;
    line-height: 1;

    &:not(:last-child) {
      margin-bottom: $spacing__m;
    }

    > a {
      display: inline-block;
      margin-top: calc(#{$spacing__xs} / 2);
      transition: all 0.2s ease-in-out;
    }

    &-phone,
    &-social {
      display: block;
      margin: 0;
      svg {
        path {
          fill: $color__text-main;
        }
      }
    }

    &-phone {
      svg {
        height: 3rem;
        width: 3rem;
      }
    }

    &-social {
      svg {
        height: 3.5rem;
        width: 3.5rem;
      }
    }
  }
}
