.order {
  &__desc {
    @include containerDefault;
    margin-bottom: $spacing__xxl;
  }

  &__subtitle {
    margin-top: 0.5rem;
    margin-bottom: $spacing__m;
  }

  &__subtitle span {
    display: inline-block;
  }

  &__contact {
    margin: 0;
    font-family: $font__heading;
    font-size: 3rem;
    line-height: 1;

    &:not(:last-child) {
      margin-bottom: $spacing__m;
    }

    > a {
      display: inline-block;
      margin-top: calc(#{$spacing__xs} / 2);
    }

    &-phone,
    &-social {
      display: block;
      margin: 0;
      svg {
        path {
          fill: $color__text-main;
        }
      }
    }

    &-phone {
      svg {
        height: 3rem;
        width: 3rem;
      }
    }

    &-social {
      svg {
        height: 3.5rem;
        width: 3.5rem;
      }
    }
  }
}
