.testimonial-grid {
  padding-top: $spacing__l;

  &__item {
    position: relative;

    &:not(:last-child) {
      margin-bottom: $spacing__m;
    }
  }

  &__icon {
    position: absolute;
    width: 3.2rem;
    height: 3.2rem;
    top: 0;
    left: 0;
    transform: translateY(-1.6rem);
  }

  &__text {
    margin-bottom: 0;
    padding: $spacing__m;
    width: 100%;
    min-height: 300px;
    border-radius: 5px;
    font-weight: 400;
    color: white;
    background-size: cover;
    background-position: center;

    &--1 {
      background-image: linear-gradient(
          to right bottom,
          rgba(#5c669d, 0.8),
          rgba(#0e174b, 0.9)
        ),
        url(./images/testimonials-1.jpg);
      /* background-image: linear-gradient(
          to right bottom,
          rgba(#689872, 0.7),
          rgba($color__grayish__green, 0.7)
        ),
        url(./images/testimonials-1.jpg); */
    }

    &--2 {
      background-image: linear-gradient(
          to right bottom,
          rgba(#5c669d, 0.8),
          rgba(#0e174b, 0.8)
        ),
        url(./images/testimonials-2.jpg);
    }

    &--3 {
      background-image: linear-gradient(
          to right bottom,
          rgba(#5c669d, 0.8),
          rgba(#0e174b, 0.8)
        ),
        url(./images/testimonials-3.jpg);
    }
  }
}
