.testimonial-grid {
  @include respond(desktop) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: $spacing__s;
  }

  @include respond(big-desk) {
    width: 90%;
    margin: 0 auto;
  }

  &__item {
    position: relative;
    width: 100%;
    max-width: 540px;
    margin: 0 auto;

    &:not(:last-child) {
      margin-bottom: $spacing__m;
    }
  }

  &__icon {
    position: absolute;
    width: 3.2rem;
    height: 3.2rem;
    top: 0;
    left: 0;
    transform: translateY(-1.6rem);
  }

  &__text {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: $spacing__m;
    width: 100%;
    min-height: 200px;
    border-radius: 5px;
    background-size: cover;
    background-position: center;

    p {
      font-weight: $font__weight-regular;
      font-size: 2rem;
      color: white;
      margin-bottom: 0;
    }

    &--1 {
      background-image: linear-gradient(
          to right bottom,
          rgba(#5c669d, 0.8),
          rgba(#0e174b, 0.9)
        ),
        url(./images/testimonials-1.jpg);
    }

    &--2 {
      background-image: linear-gradient(
          to right bottom,
          rgba(#5c669d, 0.8),
          rgba(#0e174b, 0.8)
        ),
        url(./images/testimonials-2.jpg);
    }

    &--3 {
      background-image: linear-gradient(
          to right bottom,
          rgba(#5c669d, 0.8),
          rgba(#0e174b, 0.8)
        ),
        url(./images/testimonials-3.jpg);
    }
  }
}
