.week-menu {
  margin-bottom: $spacing__xl;

  &__dish-grid {
    width: 90%;
    background-color: lightblue;
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(150px, min-content));
    grid-template-columns: repeat(auto-fit, minmax(263px, 1fr));
    grid-column-gap: $spacing__m;

    &:not(:last-child) {
      margin-bottom: $spacing__xl;
    }
  }
  &__day {
    text-align: center;
    grid-row: 1 / 2;
    grid-column: 1 / -1;
  }
}
