.home {
  margin: 0;
}

.section-alacarte,
.section-alldishes,
.section-testimonials {
  @include containerDefault;
}

.section-alldishes {
  padding: $spacing__xxl 0;

  span {
    font-style: italic;
  }
}

.section-testimonials,
.section-about {
  padding-bottom: $spacing__xxl;
}

.section-about {
  @include respond(tab-land) {
    padding-bottom: 0;
  }
}

.section-about,
.section-order {
  @include respond(tab-land) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
