.home {
  margin: 0;
}

.section-alacarte,
.section-alldishes,
.section-testimonials {
  @include containerDefault;
}

.section-alldishes {
  padding: $spacing__xxl 0;

  span {
    font-style: italic;
  }
}

.section-testimonials,
.section-about {
  padding-bottom: $spacing__xxl;
}
