.main-navigation {
  display: block;
  width: auto;

  ul {
    display: none;
    list-style: none;
    margin: 0;
    padding-left: 0;

    ul {
      box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
      float: left;
      position: absolute;
      top: 100%;
      left: -999em;
      z-index: 99999;

      ul {
        left: -999em;
        top: 0;
      }

      li {
        &:hover > ul,
        &.focus > ul {
          display: block;
          left: auto;
        }
      }

      a {
        width: 200px;
      }

      :hover > a,
      .focus > a {
      }

      a:hover,
      a.focus {
      }
    }

    li:hover > ul,
    li.focus > ul {
      left: auto;
    }
  }

  li {
    position: relative;
    margin-left: $spacing__m;

    a {
      position: relative;
      text-transform: uppercase;
      color: $color__text-main;
      font-weight: $font__weight-semibold;
    }

    &:hover > a,
    &.focus > a {
      color: $color__dark__green;
    }
  }

  a {
    display: block;
    text-decoration: none;
  }

  .current_page_item > a,
  .current-menu-item > a,
  .current_page_ancestor > a,
  .current-menu-ancestor > a {
    color: $color__dark__green;
  }
}

.dd-header-nav__hr {
  display: none;
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
  display: block;
}

.menu-toggle {
  padding: 0.6rem 1rem;
  border: none;
  background: $color__dark__green;
  color: $color__background-body;
  text-transform: uppercase;
  font-weight: $font__weight-semibold;
}

.main-navigation.toggled .primary-menu-container {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 70vh;
  padding: $spacing__m 0;
  background-color: rgba(221, 236, 219, 0.92); //#DDECDB
  border-top: 3px solid $color__dark__green;
  border-bottom: 3px solid $color__dark__green;
  border-radius: 0 0 $border-radius__default $border-radius__default;
  text-align: center;
  z-index: 999;
}

.main-navigation.toggled li {
  position: relative;
  margin-left: 0;
  margin-bottom: $spacing__m;

  &:last-child::after {
    content: "";
    display: block;
    margin: $spacing__m auto 0;
    width: 25%;
    height: 3px;
    background-color: $color__dark__green;
    border-radius: $border-radius__default;
  }
}

.main-navigation.toggled li a {
  font-size: $font__size-heading-medium;
}

@media screen and (min-width: 37.5em) {
  .menu-toggle {
    display: none;
  }

  .main-navigation ul {
    display: flex;
  }
}

.comment-navigation,
.posts-navigation,
.post-navigation {
  .site-main & {
    margin: 0 0 1.5em;
  }

  .nav-links {
    display: flex;
  }

  .nav-previous {
    flex: 1 0 50%;
  }

  .nav-next {
    text-align: end;
    flex: 1 0 50%;
  }
}
