.alldishes-grid {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

@supports (display: grid) {
  .alldishes-grid {
    width: 100%;
    max-width: 100%;
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(auto, min-content));
    grid-template-columns: repeat(auto-fit, minmax(263px, 1fr));
    grid-column-gap: $spacing__m;
    grid-row-gap: $spacing__l;

    @include respond(desktop) {
      grid-template-columns: repeat(3, 1fr);
      grid-column-gap: $spacing__xl;
      grid-row-gap: $spacing__xl;
    }

    @include respond(big-desk) {
      width: 90%;
      margin: 0 auto;
    }
  }
}
