.day-grid {
  &__title {
    margin-bottom: $spacing__m;
    font-family: $font__heading;
    font-weight: $font__weight-regular;
    font-size: 3.2rem;
    text-align: center;
    line-height: 1.1;
    color: $color__text-main;

    @include respond(tab-land) {
      text-align: left;
    }

    @include respond(desktop) {
      font-size: 3rem;
      margin-bottom: 4rem;
    }
  }

  @include respond(tab-port) {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
  }

  &__hr {
    @include respond(tab-land) {
      margin:$spacing__l 0;
      width: 65%;
      max-width: none;
    }
    @include respond(desktop) {
      
      margin: $spacing__xl 0;
    }
  }
}
