.day-grid {
  &__title {
    margin-bottom: $spacing__m;
    font-family: $font__heading;
    font-weight: $font__weight-regular;
    font-size: 3.2rem;
    text-align: center;
    line-height: 1.1;
    color: $color__text-main;

    @include respond(desktop) {
      font-size: 3rem;
      margin-bottom: 4rem;
    }
  }

  @include respond(tab-port) {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }

  &__hr {
    @include respond(tab-port) {
      margin-bottom: $spacing__l;
    }
  }
}
