.week-menu {
  &__dish-grid {
    width: 100%;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(auto-fit, minmax(263px, 1fr));
    grid-column-gap: $spacing__m;

    @include respond(desktop) {
      grid-template-rows: min-content min-content;
      grid-template-columns: repeat(2, 350px);
      grid-column-gap: $spacing__xl;
    }
  }

  &__day {
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    margin-bottom: $spacing__m;
    font-family: $font__heading;
    font-weight: $font__weight-regular;
    font-size: 3.2rem;
    text-align: center;
    line-height: 1;

    @include respond(desktop) {
      margin-bottom: $spacing__xl;
    }

    @include respond(big-desk) {
      margin-bottom: $spacing__xxl;
    }
  }
}
